[user]
	name = d2weber
	email = 29163905+d2weber@users.noreply.github.com
[includeIf "gitdir:~/gh/**"]
	path = ~/.gitconfig-gh
[includeIf "gitdir:~/gl/**"]
	path = ~/gl/.gitconfig
[format]
	pretty = format:%C(auto,yellow)%h %C(auto,blue)%<(10,trunc)%ar %C(auto,green)%<(9,trunc)%aE %C(auto,reset)%s%C(auto,red)% gD% D
[core]
	editor = nvim
	excludesfile = ~/.global_gitignore
[alias]
	ap = add -p
	cp = checkout -p
	cm = commit -m
	lg = log --max-count 10
	dotfiles = !git --git-dir=$HOME/dotfiles.git/ --work-tree=$HOME
[init]
	defaultBranch = main
